
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles and Users</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Add User", "Users", "Admin")</li>
        <li>@Html.ActionLink("Add Role", "Roles", "Admin")</li>
        <li>@Html.ActionLink("Add User to Roles", "UserRoles", "Admin")</li>
    </ul>
</div>