
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Role</h2>
<div>
    <h3>Current Roles:</h3>
    <ul>
        @foreach (var role in ViewBag.Roles)
        {
            <li>@role</li>
        }
    </ul>
    @using (Html.BeginForm("Roles", "Admin", FormMethod.Post))
    {
        <input type="text" name="q" />
        <input type="submit" value="Add" />
    }
</div>