
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>
@using (Html.BeginForm("Users", "Admin", FormMethod.Post))
{
    <input type="text" name="username" />
    <input type="submit" value="Add" />
}
<h3>Current Users:</h3>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user</li>
    }
</ul>
